.home {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        &__item {
            width: 100%;
            display: flex;
            gap: 10px;
        }
    }
}