.capacitor {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    margin: auto;
    width: 100%;
    display: flex;

    img {
      width: auto;
      height: 270px;
      margin: auto;
    }
  }
}
